@using TrinityContinuum.WebApp.Components.Components
@using TrinityContinuumWeb.Models
@inherits AttributesSectionBase

<div class="row">
    <SectionHeading>Attributes</SectionHeading>

    <div class="section">

        <div class="approach">
            <div>
                <div class="@(Model.Attributes.PreferredApproach == PreferredApproach.Force ? "filled" : "empty")"></div>
                <span>Force</span>
            </div>
            <div>
                <div class="@(Model.Attributes.PreferredApproach == PreferredApproach.Finesse ? "filled" : "empty")"></div>
                <span>Finesse</span>
            </div>
            <div>
                <div class="@(Model.Attributes.PreferredApproach == PreferredApproach.Resilience ? "filled" : "empty")"></div>
                <span>Resilience</span>
            </div>
        </div>

        <div class="arena">
            @foreach (var attr in Model.Attributes.Mental)
            {
                <div class="attribute">
                    <label>@attr.Key</label>
                    <Dots Value="@attr.Value" ReadOnly="true" />
                </div>
            }
        </div>

        <div class="arena">
            @foreach (var attr in Model.Attributes.Physical)
            {
                <div class="attribute">
                    <label>@attr.Key</label>
                    <Dots Value="@attr.Value" ReadOnly="true" />
                </div>
            }
        </div>

        <div class="arena">
            @foreach (var attr in Model.Attributes.Social)
            {
                <div class="attribute">
                    <label>@attr.Key</label>
                    <Dots Value="@attr.Value" ReadOnly="true" />
                </div>
            }
        </div>
    </div>
</div>