@using TrinityContinuum.WebApp.Components.Components
@using TrinityContinuum.Models
@inherits AttributesSectionBase

<div class="col-12 container">
    <SectionHeading>Attributes</SectionHeading>

    <div class="approach">
        <label>Preferred Approach:</label>
        <span>@Model.Attributes.PreferredApproach</span>
    </div>

    <div class="row gx-1 attributes">

        <div class="col card p-2 shadow-sm m-1 altrow">
            @foreach (var attr in Model.Attributes.Mental)
            {
                <div class="d-flex">
                    <label>@attr.Key</label>
                    <Dots Value="@attr.Value" ReadOnly="true" />
                </div>
            }
        </div>

        <div class="col card p-2 shadow-sm m-1 altrow">
            @foreach (var attr in Model.Attributes.Physical)
            {
                <div class="d-flex">
                    <label>@attr.Key</label>
                    <Dots Value="@attr.Value" ReadOnly="true" />
                </div>
            }
        </div>

        <div class="col card p-2 shadow-sm m-1 altrow">
            @foreach (var attr in Model.Attributes.Social)
            {
                <div class="d-flex">
                    <label>@attr.Key</label>
                    <Dots Value="@attr.Value" ReadOnly="true" />
                </div>
            }
        </div>
    </div>
</div>