@using TrinityContinuum.WebApp.Components.Shared
@using TrinityContinuum.Models
@inherits AbstractSectionBase

<section id="attributes" class="col-12 col-lg-6">
    <SectionHeader>Attributes</SectionHeader>

    <div class="">

        <div class="text-center mb-1">
            <label>Preferred Approach</label>
            <span>@Model.Attributes.PreferredApproach</span>
        </div>

        <div class="card mb-2">
            <h5 class="card-title">Mental</h5>
            <div class="card-body altrow p-2 pt-0">
                @foreach (var attr in Model.Attributes.Mental)
                {
                    <div class="d-flex">
                        <label>@attr.Key</label>
                        <Dots Value="@attr.Value" ReadOnly="true" />
                    </div>
                }
            </div>
        </div>

        <div class="card mb-2">
            <h5 class="card-title">Physical</h5>
            <div class="card-body altrow p-2 pt-0">
                @foreach (var attr in Model.Attributes.Physical)
                {
                    <div class="d-flex">
                        <label>@attr.Key</label>
                        <Dots Value="@attr.Value" ReadOnly="true" />
                    </div>
                }
            </div>
        </div>

        <div class="card">
            <h5 class="card-title">Social</h5>
            <div class="card-body altrow p-2 pt-0">
                @foreach (var attr in Model.Attributes.Social)
            {
                <div class="d-flex">
                    <label>@attr.Key</label>
                    <Dots Value="@attr.Value" ReadOnly="true" />
                </div>
            }
            </div>
        </div>
    </div>
</section>