@using TrinityContinuum.WebApp.Components.Components
@inherits GeneralSectionBase


<div class="col-12 container">
    <div class="row">

        <div class="col-12 column">
            <div>
                <label>Name</label>
                <span>@Model.Name</span>
            </div>
            <div>
                <label>Player</label>
                <span>@Model.Player</span>
            </div>
            <div>
                <label>Concept</label>
                <span>@Model.Concept</span>
            </div>
            <div>
                <label>PSI Order</label>
                <span>@Model.PsiOrder</span>
            </div>
            <div>
                <label>Origin Path</label>
                <span>@Model.OriginPath.Name</span>
                <Dots @bind-Value="@Model.OriginPath.Dots" ReadOnly="true" />
            </div>
            <div>
                <label>Role Path</label>
                <span>@Model.RolePath.Name</span>
                <Dots @bind-Value="@Model.RolePath.Dots" ReadOnly="true" />
            </div>
            <div>
                <label>Society Path</label>
                <span>@Model.SocietyPath.Name</span>
                <Dots @bind-Value="@Model.SocietyPath.Dots" ReadOnly="true" />
            </div>
        </div>
    </div>
</div>