@using TrinityContinuum.WebApp.Components.Components
@inherits InjuryConditionsBase

<div>
    <SectionHeading>Health</SectionHeading>
    <div class="column">
        @foreach(var level in Levels)
        {
            <div class="injury-line">
                <span class="square"></span>
                <span>@level.Name</span>
                <span>@level.Diff</span>
            </div>
        }
        <div class="takenout"><span>Taken Out</span></div>

        <hr />

        <div class="misc">
            <label>Defense</label>
            <span>Appropriate Resilence Attribute</span>
        </div>

        <div class="misc">
            <label>Armor</label>
            <span>@Model.Armor.Soft / @Model.Armor.Hard</span>            
        </div>

        <div class="misc">
            <label>Experience</label>
            <span>Total: @Model.Experience</span>
        </div>
    </div>

</div>