@using TrinityContinuum.WebApp.Components.Shared
@inherits InjuryConditionsBase

<section id="health" class="col-12 col-lg-6">

    <SectionHeader>Health</SectionHeader>

    <div class="card mb-2">
        <h5 class="card-title">Injury Conditions</h5>
        <div class="card-body">
            @foreach (var level in Levels)
            {
                <div class="d-flex mb-1 justify-content-between">
                    <span class="d-flex align-items-center gap-2 form-check">
                        <input type="checkbox" class="form-check-input border-dark border-2 rounded-2 shadow-sm" style="width: 20px; height: 20px" autocomplete="off">
                        <label class="form-check-label">@level.Name</label>
                    </span>
                    <span>@level.Diff</span>
                </div>
            }
        </div>

        <div class="text-center fw-bolder fs-5 fv-sc">Taken Out</div>
    </div>

    <div class="card">
        <h5 class="card-title">Defenses</h5>
        <div class="card-body">
            <div class="d-flex gap-2">
                <label>Defense</label>
                <span>@Model.Defense or Appropriate Resilence Attribute</span>
            </div>

            <div class="d-flex gap-2">
                <label>Armor</label>
                <span>@Model.Armor.Soft / @Model.Armor.Hard</span>
            </div>

            <div class="d-flex gap-2">
                <label>Experience</label>
                <span>Total: @Model.Experience.Total<br />Remaining: @(Model.Experience.Total - Model.Experience.Spent)</span>
            </div>
        </div>
    </div>

</section>