@using TrinityContinuum.WebApp.Components.Components
@inherits PsiSectionBase

<section id="psi" class="col-12 col-lg-6">
    <SectionHeader>Psi</SectionHeader>

    <div class="card mb-2">
        <h5 class="card-title">Psi General</h5>
        <div class="card-body">
            <div>
                <label>Aptitude</label>
                <span>@Model.Psi.Aptitude</span>
            </div>

            <div>
                <label>Basic Powers</label>
                <span>@String.Join(", ", Model.Psi.BasicPowers)</span>
            </div>

            <hr />

            <div class="d-flex">
                <label>Psi Score</label>
                <Dots Value="@Model.Psi.Trait" MaxValue="7" ReadOnly="true" />
            </div>

            <div class="d-flex justify-content-between">
                <label class="text-nowrap">Psi Points</label>
                <div class="d-flex flex-wrap form-check gap-1">
                    @for (int i = 0; i < PsiPoints; i++)
                    {
                        <input type="checkbox" class="form-check-input border-dark border-2 rounded-2 shadow-sm mx-0" style="width: 20px; height: 20px" autocomplete="off">
                    }
                </div>
            </div>

            <div class="d-flex">
                <label>Tolerance</label>
                <Dots Value="@Model.Psi.Tolerance" MaxValue="@MaxTolerance" ReadOnly="true" />
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <h5 class="card-title">Modes</h5>
        <div class="card-body altrow p-2 pt-0">
            @foreach (var mode in Model.Psi.Modes)
            {
                <div class="d-flex">
                    <span>@mode.Name</span>
                    <Dots Value="@mode.Dots" ReadOnly="true" />
                </div>
            }
        </div>
    </div>

    @if (Model.Psi.AuxillaryModes.Any())
    {
        <div class="card">
            <h5 class="card-title">Auxillary Modes</h5>
            <div class="card-body altrow p-2 pt-0">
                @foreach (var mode in Model.Psi.AuxillaryModes)
                {
                    <div class="d-flex">
                        <span>@mode.Name</span>
                        <Dots Value="@mode.Dots" ReadOnly="true" />
                    </div>
                }
            </div>
        </div>
    }

</section>