@using TrinityContinuum.Models
@using TrinityContinuum.WebApp.Services

@inject IMarkdownRenderService MarkDownService

<div class="pcard">

    <div class="pcard-header">
        <h5>@Power.Name</h5>
        <div>
            <h6>@Power.Aptitude</h6>
            <h6>@Power.Mode</h6>
        </div>
    </div>

    <div class="pcard-body">
        <div>
            <div>
                <span>Level:</span>
                <Dots Value="@Power.Dots" MaxValue="7" />
            </div>

            <div class="col-5">
                <span class="fw-bold">Dice Pool:</span>
                <span>12</span>
            </div>
        </div>


        <div>
            <p>@(MarkDownService.Render(Power.Description))</p>

            <p>@(MarkDownService.Render("**System:**  " + Power.System))</p>
        </div>
    </div>
    <div class="pcard-footer">
        <span>Trinity Continuum: Æon, page. @Power.Page</span>
    </div>
</div>


@code {
    [Parameter] public PsiPower Power { get; set; }
}
